{% extends "layout.html" %}

{% block pageTitle %}
Primary hero banner
{% endblock %}

{% block beforeContent %}
  </div><div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <section id="CurrentOpportunities">
  <h2 class="job-profile-headings">Current opportunities</h2>
  <div class="govuk-grid-row" id="appGeneric">
      <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">
              Apprenticeships
              <span class="govuk-caption-m">In England</span>
          </h3>
      </div>
              <div class="govuk-grid-column-one-half">
                  <div class="opportunity-item">
                      <h4 class="govuk-heading-s">
                          <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1596537">Plumbing Apprentice</a>
                      </h4>
                      <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £156.00 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Hull HU3 5QP</li>
                      </ul>
                  </div>
              </div>
              <div class="govuk-grid-column-one-half">
                  <div class="opportunity-item">
                      <h4 class="govuk-heading-s">
                          <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1595315">Apprentice Plumber (Level 3)</a>
                      </h4>
                      <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £320.00 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Sherborne DT9 3RQ</li>
                      </ul>
                  </div>
              </div>
          <div class="govuk-grid-column-two-thirds govuk-body-m dfc-code-jp-vacancyText">
              <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
          </div>
  </div>
  <div class="govuk-grid-row dfc-code-jp-trainingCourse">
      <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">
              Courses
              <span class="govuk-caption-m">In England</span>
          </h3>
      </div>
              <div class="govuk-grid-column-one-half">
                  <div class="opportunity-item">
                      <h4 class="govuk-heading-s">
                          <a href="/find-a-course/course-details?courseid=55122438">Plumbing - Level 3</a>
                      </h4>
                      <ul class="govuk-list">
                          <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> BLACKPOOL AND THE FYLDE COLLEGE</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Start date:</span> 07 January 2020</li>
                          <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Blackpool FY2 0HB</li>
                      </ul>
                  </div>
              </div>
          <div class="govuk-grid-column-two-thirds govuk-body dfc-code-jp-TrainingCoursesText">
              <a href="/find-a-course">Find courses near you</a>
          </div>
  </div>
  <div>
          <h3 class="govuk-heading-m">Jobs
              <span class="govuk-caption-m">In the United Kingdom</span></h3>
          <p>The <a href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
  </div>
  </section>
  </div>
{% endblock %}
