
{% extends "layout.html" %}

{% block pageTitle %}
Design resources for National Careers Service
{% endblock %}

{% block beforeContent %}
  </div>
  <div class="primary-hero shorter-hero">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Design resources for National Careers Service</h1>
            <p class="govuk-caption-m">Updated: 14 October 2019</p>
        </div>
        </div>
    </div>
  </div>
  <div class="govuk-width-container">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-lead">A library for design patterns to be used across the National Careers Service, to ensure consistency across the service and meet user needs where the GOV.UK design system does not.</p>
      <p>This design library is created to store patterns which are used within the National Careers Service. For new product development, teams should look to make use of this design library along with the GOV.UK design system to meet user needs.</p>

      <p>To understand how to utilise these patterns, you can check <a href="get-started">how to get started</a>.</p>

      <h2 class="govuk-heading-m">Patterns in production</h2>

      <ol class="govuk-list govuk-list--bullet">
      <li><a href="patterns/primary-hero">Hero banner (primary)</a></li>
      <li><a href="patterns/secondary-hero">Hero banner (secondary)</a></li>
      <li><a href="patterns/jump-links">Jump links</a></li>
      <li><a href="patterns/icons">Job profile icons</a></li>
      <li><a href="patterns/header">Header</a></li>
      <li><a href="patterns/search-results">Search results</a></li>
      </ol>

      <h2 class="govuk-heading-m">Yet to be documented</h2>
        <ol class="govuk-list govuk-list--bullet">
        <li>Current opportunities tiles (job profiles)</li>
        <li>Related section search for job profiles</li>
        <li>Feedback banner</li>
        <li>Homepage 'rings'</li>
        </ol>


    </div>
</div>

{% endblock %}
